.Country-Form{
	height: 500px;
	width: 700px;
	border-radius: 25px;
	border: 8px solid var(--search-bar-border);
	background-color: var(--search-bar);
	position: relative;
	margin: 50px 0 0 0;
}


.New-Season-Button{
	width: 150px;
	height: 50px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top:20px;
	left: -58px;
	cursor: pointer;
	background-color: #018a23;
	z-index: -1;
	animation: buttonEffectReverse 0.5s ease-in;
}
.New-Season-Button:hover{
	animation: buttonEffect 0.5s ease-in;
	left:-158px;
	


}


.New-Season-Button svg{
	margin: 0 15px 0 10px;
}

.New-Season-Button::after{
	content: 'New Season';
	font-size: 1rem;
	font-family: 'RockoFLF';
	font-weight: 600;
	

} 

.New-Season-Button-Active{
	width: 150px;
	height: 50px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top:20px;
	left: -158px;
	cursor: pointer;
	background-color: #018a23;
}


.New-Season-Button-Active svg{
	margin: 0 10px 0 10px;
}

.New-Season-Button-Active::after{
	content: 'New Season';
	font-size: 1rem;
	font-family: 'RockoFLF';
	font-weight: 600;
	

} 

.Edit-Season-Button{
	width: 150px;
	height: 50px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-start;
	position: absolute;
	top:80px;
	left: -58px;
	cursor: pointer;
	background-color: #ffa703;
	z-index: -1;
	animation: buttonEffectReverse 0.5s ease-in;
}

.Edit-Season-Button svg{
	margin: 0 15px 0 10px;
}

.Edit-Season-Button:hover{
	animation: buttonEffect 0.5s ease-in;
	left:-158px;
	


}

.Edit-Season-Button::after{
	content: 'Edit Season';
	font-size: 1rem;
	font-family: 'RockoFLF';
	font-weight: 600;
	

} 

.Edit-Season-Button-Active{
	width: 150px;
	height: 50px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-start;
	position: absolute;
	top:80px;
	left: -158px;
	cursor: pointer;
	background-color: #ffa703;
	z-index: -1;
	/* animation: buttonEffectReverse 0.5s ease-in; */
}

.Edit-Season-Button-Active svg{
	margin: 0 15px 0 10px;
}



.Edit-Season-Button-Active::after{
	content: 'Edit Season';
	font-size: 1rem;
	font-family: 'RockoFLF';
	font-weight: 600;
	

} 
.Delete-Season-Button{
	width: 150px;
	height: 50px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-start;
	position: absolute;
	top:140px;
	left: -58px;
	cursor: pointer;
	background-color: #ff0000;
	z-index: -1;
	animation: buttonEffectReverse 0.5s ease-in;
}

.Delete-Season-Button svg{
	margin: 0 15px 0 10px;
}

.Delete-Season-Button:hover{
	animation: buttonEffect 0.5s ease-in;
	left:-158px;
	


}

.Delete-Season-Button::after{
	content: 'Delete Season';
	font-size: 1rem;
	font-family: 'RockoFLF';
	font-weight: 600;
	

} 

.Delete-Season-Button-Active{
	width: 150px;
	height: 50px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-start;
	position: absolute;
	top:140px;
	left: -158px;
	cursor: pointer;
	background-color: #ff0000;
	z-index: -1;
	/* animation: buttonEffectReverse 0.5s ease-in; */
}

.Delete-Season-Button-Active svg{
	margin: 0 15px 0 10px;
}


.Delete-Season-Button-Active::after{
	content: 'Delete Season';
	font-size: 1rem;
	font-family: 'RockoFLF';
	font-weight: 600;
	

} 

.Season-Button-Active{
	position: absolute;
	height: 75px;
	width: 150px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	background-color: var(--search-bar);
	border: 8px solid var(--search-bar-border);
	border-bottom: 8px solid var(--search-bar);
	top:-75px;
	left:5px;
	font-size: 1.75rem;
	font-family: 'RockoFLF';

}

.ROI-Button{
	position: absolute;
	height: 75px;
	width: 150px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	background-color: var(--search-bar);
	border: 8px solid var(--search-bar-border);
	top:-75px;
	left:160px;
	cursor: pointer;
	font-size: 1.75rem;
	font-family: 'RockoFLF';

}

.ROI-Button:hover{
	background-color: var(--search-bar-border);
}







@keyframes buttonEffect{
	0%{
		left: -58px;
	}
	100%{
		left:-158px;
	}
}

@keyframes buttonEffectReverse{
	0%{
		left:-158px;
	}
	100%{
		left: -58px;
	}
}

@keyframes buttonSlideDown{
	0%{
		top: 91.5%;
	}
	100%{
		top:101.5%;
	}
}

@keyframes buttonSlideUp{
	0%{
		top:101.5%;
	}
	100%{
		top: 91.5%;
	}
}


@media screen and (max-width: 1005px) {
	
	.New-Season-Button{
		width: 50px;
		height: 100px;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:flex-end;
		position: absolute;
		position: absolute;
		top:91.5%;
		left: 50px;
		cursor: pointer;
		background-color: #018a23;
		z-index: -1;
		animation: buttonSlideUp 0.5s ease-in;
	}
	.New-Season-Button:hover{
		animation: buttonSlideDown 0.5s ease-in ; 
		top:101.5% ;
		left: 50px;
	
	
	}
	
	
	.New-Season-Button svg{
		margin: 20px 10px 10px 10px;
	}
	
	.New-Season-Button::before{
		content: 'New';
		font-size: 1rem;
		font-family: 'RockoFLF';
		font-weight: 600;
		
	
	} 

	.New-Season-Button::after{
		display:none;
	}
	
	.New-Season-Button-Active{
		width: 50px;
		height: 100px;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		top:101.5%;
		left: 50px;
		cursor: pointer;
		background-color: #018a23;
	}
	
	
	.New-Season-Button-Active svg{
		margin: 20px 10px 10px 10px;
	}
	
	.New-Season-Button-Active::before{
		content: 'New';
		font-size: 1rem;
		font-family: 'RockoFLF';
		font-weight: 600;
	
	} 

	.New-Season-Button-Active::after{
		display: none;
	}
	
	.Edit-Season-Button{
		width: 50px;
		height: 100px;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:flex-end;
		position: absolute;
		top:91.5%;
		left: 110px;
		cursor: pointer;
		background-color: #ffa703;
		z-index: -1;
		animation: buttonSlideUp 0.5s ease-in;
	}
	
	.Edit-Season-Button svg{
		margin: 20px 10px 10px 10px;
	}
	
	.Edit-Season-Button:hover{
		animation: buttonSlideDown 0.5s ease-in; 
		top:101.5%;
		left:110px;
	
	
	}
	
	.Edit-Season-Button::before{
		content: 'Edit';
		font-size: 1rem;
		font-family: 'RockoFLF';
		font-weight: 600;
		
	
	} 

	.Edit-Season-Button::after{
		display: none;
	}
	
	.Edit-Season-Button-Active{
		width: 50px;
		height: 100px;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		top:101.5%;
		left: 110px;
		cursor: pointer;
		background-color: #ffa703;
		z-index: -1;
		/* animation: buttonEffectReverse 0.5s ease-in; */
	}
	
	.Edit-Season-Button-Active svg{
		margin: 20px 10px 10px 10px;

	}
	
	
	
	.Edit-Season-Button-Active::before{
		content: 'Edit';
		font-size: 1rem;
		font-family: 'RockoFLF';
		font-weight: 600;
		
	
	} 

	.Edit-Season-Button-Active::after{
		display: none;
	}
	.Delete-Season-Button{
		width: 50px;
		height: 100px;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:flex-end;
		position: absolute;
		top:91.5%;
		left: 170px;

		cursor: pointer;
		background-color: #ff0000;
		z-index: -1;
		animation: buttonSlideUp 0.5s ease-in;
	}
	
	.Delete-Season-Button svg{
		margin: 20px 10px 10px 10px;
	}
	
	.Delete-Season-Button:hover{
		animation: buttonSlideDown 0.5s ease-in ; 
		top:101.5% ;
		left: 170px;
	
	
	}
	
	.Delete-Season-Button::before{
		content: 'Delete';
		font-size: 0.9rem;
		font-family: 'RockoFLF';
		font-weight: 600;
		
	
	}

	.Delete-Season-Button::after{
		display: none;
	}
	
	.Delete-Season-Button-Active{
		width: 50px;
		height: 100px;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		top:101.5%;
		left: 170px;
		cursor: pointer;
		background-color: #ff0000;
		z-index: -1;
		/* animation: buttonEffectReverse 0.5s ease-in; */
	}
	
	.Delete-Season-Button-Active svg{
		margin: 20px 10px 10px 10px;
	}
	
	
	.Delete-Season-Button-Active::before{
		content: 'Delete';
		font-size: 0.9rem;
		font-family: 'RockoFLF';
		font-weight: 600;
		
	
	}

	.Delete-Season-Button-Active::after{
		display: none;
	}
}


@media screen and (max-width:500px) {
	.Country-Form{
		width: 100%;
	}
}
@media screen and (max-width:336px) {
	.Season-Button-Active, .ROI-Button{
		width: 140px;
	}
}

