.Header-Container{
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Navigation-Menu{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	position: relative;
	z-index: 1;
	padding: 0 0 0 25px;
}


.Title-Container{
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.Title-Container svg{
	height: 100px;
	width: 100px;
}

.Title{
	font-size: 6rem;
	font-family: 'RockoUltraFLF';
	color: var(--text-color);
}


.Admin-Button{
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0 0 0 0px;
	opacity: 0.5;
	position: relative;
}

.Admin-Button-Active{
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0 0 0 0px;
	opacity: 1;
	position: relative;
	
}

.Admin-Button-Active svg{
	filter: brightness(0%) saturate(100%);
}

.Admin-Button:hover{
	opacity: 1;
	/* filter: brightness(0%) saturate(100%) invert(46%) sepia(81%) saturate(7465%) hue-rotate(350deg) brightness(89%) contrast(136%) */
}

.Admin-Button-Active::after{
	content: 'Admin Login';
	position: absolute;
	height: 120%;
	width: 300px;
	top: 0;
	left: 0;
	background-color: var(--search-bar);
	color: black;
	z-index: -1;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-top: 4px solid var(--search-bar-border);
	border-left: 4px solid var(--search-bar-border);
	border-right: 4px solid var(--search-bar-border);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-size: 2rem;
	font-family: 'RockoFLF';
	padding: 0 40px 0 0;	
}

.Login-Container{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 2;
	background-color: var(--search-bar-border);
	top:70%;
	left: 5%;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	display: none;
}

.Login-Container-Active{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 2;
	background-color: var(--search-bar);
	top:62%;
	left: 25px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	display: block;
	border-bottom: 4px solid var(--search-bar-border);
	border-left: 4px solid var(--search-bar-border);
	border-right: 4px solid var(--search-bar-border);


}

.Login-Form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.Username{
	width: 80%;
	height: 15%;
	font-size: 1.25rem;
	font-family: 'RockoFLF';
	border-radius: 18px;
	border: none;

}

.Password{
	width: 80%;
	height: 15%;
	font-size: 1.25rem;
	font-family: 'RockoFLF';
	border-radius: 18px;
	border: none;
}

.Redirect{
	width: 40%;
	height: 15%;
	text-decoration: none;
	background-color: var(--search-bar-border);
	color: black;
	font-size: 1.25rem;
	font-family: 'RockoFLF';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	border: none;
	cursor: pointer;
}

.Username-Container{
	position: absolute;
	height: 100px;
	width: 300px;
	z-index: 2;
	background-color: var(--search-bar-border);
	top:70%;
	left:0;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	display: none;
}

.Username-Container-Active{
	position: absolute;
	height: 100px;
	width: 300px;
	z-index: 2;
	background-color: var(--search-bar);
	bottom: -2%;
	left: 25px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 4px solid var(--search-bar-border);
	border-left: 4px solid var(--search-bar-border);
	border-right: 4px solid var(--search-bar-border);
	


}

.Admin-Button-Loggedin-Active{
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0 0 0 0;
	opacity: 1;
	position: relative;
	
}

.Admin-Button-Loggedin-Active svg{
	filter: brightness(0%) saturate(100%);
}


.Admin-Button-Loggedin-Active::after{
	content: '';
	position: absolute;
	height: 120%;
	width: 300px;
	top: -10%;
	left: 0;
	background-color: var(--search-bar);
	color: black;
	z-index: -1;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-top: 4px solid var(--search-bar-border);
	border-left: 4px solid var(--search-bar-border);
	border-right: 4px solid var(--search-bar-border);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-size: 2rem;
	font-family: 'RockoFLF';
	padding: 0 40px 0 0;	
}

.Logout-Button{
	width: 40%;
	height: 50%;
	text-decoration: none;
	background-color: var(--search-bar-border);
	color: black;
	font-size: 1.25rem;
	font-family: 'RockoFLF';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	border: none;
	cursor: pointer;
}

.Username-Text{
	color: black;
	font-size: 1.75rem;
	font-family: 'RockoFLF';
	position: absolute;
	top: -50%;
	right: 10%;
}

.Button-Container{
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Dashboard-Button{
	height: 50px;
	width: 50px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.Button-Container p{
	font-size: 1.25rem;
	font-family: 'RockoFLF';
	position: relative;
	

}
